apiVersion: 1

deleteDatasources:
  - name: TimescaleDB
    orgId: 1

datasources:
  - name: TimescaleDB
    type: postgres
    url: timescaledb:5432
    user: ${TIMESCALEDB_USER}
    secureJsonData:
      password: $__file{/run/secrets/TIMESCALEDB_PASSWORD}
    jsonData:
      database: ${TIMESCALEDB_DATABASE_NAME}
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: true